<html>
<body>
      <div class="container d-flex flex-column bg-dark">
        <div class="p-2 logo d-flex justify-content-center">reBook</div>
        <main>
            <p>It's a smart social networking site. It's a place where books take on a new life. <em class="text-info">reBook</em> is the act of sharing culture and thus connecting with readers tuned to your tastes.</p>
            <p>Give a new life to those old books you have collecting dust on the shelves. Pass them on to another reader.  Our system will allow members to connect with other readers.</p>
            <p>To become a <em class="text-info">reBooker</em> you just have to register and you can start sharing those forgotten literary treasures or looking for books shared by other <em class="text-info">reBookers</em>. </p>
            <p>Once you have become a <em class="text-info">reBokker</em>, you will be able to know what was from your shared books and exchange opinions with other users. <em class="text-info" >reBook</em> is free to join and play. So don't keep your books, read and share!</p>
            
          </main>
          <div class="d-flex">
              <ul class="list-inline mx-auto justify-content-center">
                                   
                   <li class="list-inline-item m-5">
                      <a href="#" class="btn text-info btn-white btn-animated">SIGN IN</a>
                    </li>                         
                    <li class="list-inline-item">
                        <a href="/wall" class="btn text-info btn-white btn-animated">STAY CONNECTED</a>
                    </li>          
               </ul>
          </div>
      </div>
</body>
</html>