<footer>
        <div class="container" 
            style="border-top:1px solid grey">
        <div class="d-flex">
            <ul class="list-inline mx-auto justify-content-center">
                                 
                 <li class="list-inline-item">
                    <a href="#">Home</a>
                  </li>
                       
                  <li class="list-inline-item">
                     <a routerLink="/about">About</a>
                  </li>          
             </ul>
        </div>
        </div>
    </footer>
    