<html>
  <main class="container">
      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>
 
      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>
 
      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>

      <span class="particle text-dark">4</span>
      <span class="particle text-dark">0</span>
      <span class="particle text-dark">4</span>

      <span class="particle text-info">4</span>
      <span class="particle text-info">0</span>
      <span class="particle text-info">4</span>




    <article class="content">
      <p>Oops!</p>
      <p>Get lost in the <strong>MATRIX</strong></p>
      <p>
          <a href="#" class="btn text-info btn-black btn-animated">COMEBACK HOME</a>

      </p>
    </article>
  </main>
</html>
  