body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  background-repeat: no-repeat;
  text-align: center;
}

.register{
    background: url(https://source.unsplash.com/2W3bDp7K1oQ/800x500);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
  } 

  .signupForm {
    width: 800px;
    padding: 20px 0;
    background: rgba(47, 48, 48, 0.6);
    transition: .2s;
    h2 {
      font-weight: 300;
      font-family: arial, sans-serif;

    }
  }

  .form-group{
    display: inline-block;
  }

  input {
  width: 500px;
  outline: none;
  border-width: 0 0 1px;
  border-color: #FFBF00;
  background-color: black;
  margin-top: 1rem;
}

input:focus { 
  color: white;
  outline: none;
  border-width: 0 0 1px;
  border-color: #FFBF00;
  background-color: black;
}
  .btn {
    margin-top: 1rem;
  }
  
  .btn:visited {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
  }
  
  .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgb(255, 255, 255);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(255, 191, 0, 0.75);
  }
  
  .btn-white {
    background-color: #fff;
    color: #FFBF00;
    font-size: 14px;
    border-radius: 100px;
  }

  $anims: float, floatReverse,float2, floatReverse2;
$easeSmooth: cubic-bezier(0.39,0.575,0.28,0.995);  


.container {
	justify-content: center;
  height: 100vh;
  width: 100vw;
  background-size: auto;
	font-family: arial, sans-serif;
  
}

.particle {
	position: absolute;
	display: block;
  pointer-events: none;
	
	@for $i from 1 through 80 {
		&:nth-child(#{$i}){
			$size: random(20) + 10;
			$blur: $i * 0.02;
			$speed: random(20)+20; 
			$delay: random(10)*0.1;
			$anim: nth($anims, random(length($anims)));
			
			top: random(100) / (100 + $size/8) * 100%;
			left: random(100) / (100 + $size/10) * 100%;
			font-size: $size + px;
			filter: blur( (#{$blur}) + px);
			animation: $speed+s  $anim infinite;
		}
	}
}

@keyframes apparition {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes float {
  0%,50% {
    transform: translateX(0);
	}
  50% {
    transform: translateX(180px);
	}
}

@keyframes floatReverse {
  0%,50% {
    transform: translateX(0);
	}
  50% {
    transform: translateX(-180px);
  }
}
	
@keyframes float2 {
  0%,50% {
    transform: translateX(0);
	}
  50% {
    transform: translateX(28px);
	}
}

@keyframes floatReverse2 {
  0%,50% {
    transform: translateX(0);
	}
  50% {
    transform: translateX(-28px);
	}
}

@mixin animation ($delay, $duration, $animation) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
